  @import url('https://fonts.cdnfonts.com/css/pokemon-solid');
  
:root{
  --pokeball-red : #eb2424;
  --pokeball-black : #222224;
  --pokeball-gray : #f1eaea;
}
 
#topPokeballBackground{
  background-color: var(--pokeball-red);
  padding: 10px;
}

#middlePokeballBacGround{
  background-color: var(--pokeball-black);
  height:140px ;

}

#endPokeballBackGround{
  background-color: var(--pokeball-gray);
  padding: 1px;
}

#tableMoves  {
    width: 1000px;
    font-size: 15px;
    margin: 0 auto;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    background-color: var();

}

#tableMoves > table >thead > tr > th {
    text-align: center;
}
#titleTable {
  text-align: center;
  margin: 10px;
}
#buttonShinyVersion{
  margin: 0 auto;
  width: 105px;

}

#buttonChageAparence{
  background-color: #d8d0d0;
  border: #d8d0d0;

    width: 100px;
    height: 100px;
    margin: 20px auto;
    transition:all;
    border-radius: 100%;
    transition-duration: 0.5s ;
    transform: translate(2px);

}
#buttonChageAparence:hover{
  background-color: rgb(54, 55, 56);
  border: rgb(54, 55, 56);
}

.navigationIcons{
display: flex;
justify-content: space-between;
padding: 10px;

background-color: var(--pokeball-red);

}


.icon{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  padding: 5px;
}
.icon:hover{
  cursor: pointer;
  background-color: #ffffffa6;
  transition: all;
  transition-duration: 0.5s;
}

#namePokemon{
  font-family: 'Pokemon Solid', sans-serif;
  margin: 0 auto;
  text-align: center;
  width: 290px;
}


#imagePokemon{
  display: flex;
  justify-content: center;
  align-items: center;
}

#imagePokemon > img{
  width: 150px;
  margin: 50px;
}

#typesPokemon{
  width: 100px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin: 0 auto;
}
#typesPokemon > h4{
  width: 90px;
  transform: translate(4px);
}

#title{
  text-align: center;
  margin: 10px;
}
#radarChart{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge {
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: #007bff; 
    border-radius: 12px;
  }


  .Normal {
    background-color: #6c757d; 
  }

  .Fire {
    background-color: rgb(233, 48, 48);
  }

  .Water {
    background-color: #2461e4; 
  }


  .Grass {
    background-color: #2cb83f;

  }

  .Electric {
    background-color: rgb(238, 241, 45);
    color: #212529;
  }

  .Ice{
    background-color: #3dd5e0;

  }

  .Fighting {
    background-color: orangered;
  }

  .Poison{
    background-color: #5c1a70;
  }

  .Ground{
    background-color: rgb(133, 88, 47);
  }
  .Flying{
    background-color: #79aee6;
  }
.Psychic{
    background-color: #d343a8;
}
.Bug{
    background-color: #2edf36;
}
.Rock{
    background-color: #412c14;
}
.Ghost{
    background-color: #9c0eaf;
}
.Dragon{
    background-color: #b755e4;
}
.Dark{
    background-color: rgb(56, 55, 55);
}
.Steel{
    background-color: rgb(126, 122, 122);
}
.Fairy{
    background-color: rgb(247, 149, 222);
}