
#accessToInfo{
  background-color: #5759c2;
  border: #5759c2;
  transition: all;
  transition-duration: 0.3s;
}
#accessToInfo:hover{
  background-color: #212529;
}


div > img {
    width: 150px;
    margin: 0 auto;
}

div[class="card"]{
    width: 300px;
    margin : 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}
#colum{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
div[class="card"]:hover{
  transform: scale(1.1);
}
#pokedexLogo{
  display: flex;
  justify-content: center;
}

#pokedexLogo > img {
  width: 300px;
  transition: transform 0.3s ease;
  padding: 10px;
}

#pokedexLogo > img:hover{
  transform: rotate(10deg);
}

.badge {
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: #007bff; 
    border-radius: 12px;
  }


  .Normal {
    background-color: #6c757d; 
  }

  .Fire {
    background-color: rgb(233, 48, 48);
  }

  .Water {
    background-color: #2461e4; 
  }


  .Grass {
    background-color: #2cb83f;

  }

  .Electric {
    background-color: rgb(238, 241, 45);
    color: #212529;
  }

  .Ice{
    background-color: #3dd5e0;

  }

  .Fighting {
    background-color: orangered;
  }

  .Poison{
    background-color: #5c1a70;
  }

  .Ground{
    background-color: rgb(133, 88, 47);
  }
  .Flying{
    background-color: #79aee6;
  }
.Psychic{
    background-color: #d343a8;
}
.Bug{
    background-color: #2edf36;
}
.Rock{
    background-color: #412c14;
}
.Ghost{
    background-color: #9c0eaf;
}
.Dragon{
    background-color: #b755e4;
}
.Dark{
    background-color: rgb(56, 55, 55);
}
.Steel{
    background-color: rgb(126, 122, 122);
}
.Fairy{
    background-color: rgb(247, 149, 222);
}